Source: mkosi-debinit
Section: utils
Priority: optional
Maintainer: Sebastian Schulz <16666034+seb-schulz@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/seb-schulz/mkosi-debinit
Vcs-Git: https://github.com/seb-schulz/mkosi-debinit.git
Homepage: https://github.com/seb-schulz/mkosi-debinit

Package: mkosi-debinit-core
Architecture: amd64
Depends: mkosi, cpio, kmod, ${shlibs:Depends}, ${misc:Depends}
Description: mkosi-debinit is an initramfs builder
 It is using mkosi to build initramfs images for the kernel.
 With the approach of building an image with mkosi, initramfs should become more reproducable and better testable.
