---
# SPDX-License-Identifier: LGPL-2.1-or-later

name: CI
on:
  schedule:
    - cron: "1 3 * * Fri" # utc / 8h00 CEST
  push:
    branches:
      - main
    paths-ignore:
      - "README*"
      - "debian/**"
      - ".devcontainer.json"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "README*"
      - "debian/**"
      - ".devcontainer.json"
jobs:
  tests:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ toJSON(matrix.distro) }}-${{ matrix.phase }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        distro:
          - name: docker.io/debian
            tag: testing
        phase:
          - INITRD_BASIC
          - MKOSI_AND_KVM_CHECK
          - CHECK_DPKG
    container:
      image: "${{ matrix.distro.name }}:${{ matrix.distro.tag }}"
      options: --privileged
      env:
        MKOSI_CACHE: /var/tmp/mkosi-debinit.cache
      volumes: ["/var/tmp:/var/tmp"]
    steps:
      - name: Repository checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install dependencies
        run: ./scripts/setup.sh
      - name: ${{ matrix.phase }} on ${{ matrix.distro.name }}:${{ matrix.distro.tag }}
        run: ./scripts/tests.sh ${{ matrix.phase }}
  build:
    runs-on: ubuntu-24.04
    container:
      image: "docker.io/debian:testing@sha256:6466f800a1c25b14447885e61ef950316c6129e202f34ff68013e95c5178e27b"
    steps:
      - name: Repository checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install dependencies
        run: ./scripts/setup.sh
      - name: Build packages
        run: ./scripts/build.sh
      - name: Upload packages
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: packages
          path: dist/mkosi-debinit*.deb
  lint:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
    container:
      image: "docker.io/debian:testing@sha256:6466f800a1c25b14447885e61ef950316c6129e202f34ff68013e95c5178e27b"
    needs: build
    steps:
      - name: Repository checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: packages
          path: dist/
      - name: Install dependencies
        run: ./scripts/setup.sh
      - name: Check DPKG
        run: ./scripts/lint.sh DPKG
      - name: Check SHELL
        run: ./scripts/lint.sh SHELL
